<center><h1>Log In</h1>

<%= form_tag sessions_path do %>
<br>
  <div class="field">
    <%= label_tag :email %><br />
    <div style="color:black;"><%= text_field_tag :email, params[:email] %></div>
  </div>
  <br>
  <div class="field">
    <%= label_tag :password %><br />
    <div style="color:black;"><%= password_field_tag :password %></div>
  </div>
  <br>
  <div class="actions" style="color:black;"><%= submit_tag "Log In"%></div></center>
<% end %>