<body class="forest">
	<div class="form">
	<h1 class="heading">Edit your entry</h1>
	<br>
			<%= form_for @journal do |f| %>
				<div class="form-group">
					<%= f.label :weather %> 
					  <%= f.select(:weather, options_for_select([['horrible', 1], ['poor', 2], ['mediocre', 3], ['good', 4], ['great', 5]]), {}, {class: "form-control"}) %>
				</div>
				<br>
				<div class="form-group">
					<%= f.label :food %> 
					  <%= f.select(:food, options_for_select([['horrible', 1], ['poor', 2], ['mediocre', 3], ['good', 4], ['great', 5]]), {}, {class: "form-control"}) %>
				</div>
				<br>
				<div class="form-group">
					<%= f.label :mood %> 
					  <%= f.select(:mood, options_for_select([['horrible', 1], ['poor', 2], ['mediocre', 3], ['good', 4], ['great', 5]]), {}, {class: "form-control"}) %>
				</div>
				<br>
				<strong>Comment</strong>
				<%= f.text_field :comment, type: "text", :class => "form-control new-person-form", placeholder: "Comment"%>
				<br>
				
			<% end %>	
			<%= button_tag(type: 'submit', class: "btn btn-primary btn-new") do %>
              <i class="icon-ok icon-white"></i> submit
            <% end %>

            <%= link_to journals_path, class: "btn btn-primary btn-default" do %>
      			<div class="icon-ok icon-white">back</div>   
    		<% end %>
		</div>
	</div>	
</body>	

